body {
    background-color: rgb(219, 162, 88);
    
}

h1 {
    font-weight:bold;
    font-size: 30px;
    background-color: rgb(197, 187, 140);
    display:inline;
    padding:4px;
    margin:10px;
}

.txt-instructions {
    padding: 4px 8px 8px 8px;
    background-color: beige;
    margin:10px;
    height:210px;
    width:640px;
}

#random-number {
    background-color:rgb(44, 150, 44);
    margin:10px;
    padding:10px;
    height:30px;
    width: 400px;
    text-align:center;
    font-weight:bold;
    font-size:28px;
}

.counters {
    padding:10px;
    background-color: rgb(55, 150, 150);
    margin:10px;
    height:80px;
    width:200px;
}

#crystal-array {
    margin:6px;
    padding:6px;
}

#crystal-array img{
    height:80px;
    width:80px;
    border-style:outset;
    float:left;
}

.txt-your-total-score {
    text-align:center;
    background-color: cyan;
    margin:10px;
    padding:8px 100px 8px 8px;
    font-weight:bold;
}

#revolving-total {
    background-color: white;
    font-weight:bold;
    margin:10px;
    padding:10px;
}
